<div class="img-wrapper" v-for="item in ctg_main">
    <router-link :to="item.route">
        <a >
            <div class="root-icon-image-bottom">
                <img :src="getImageSrcBig(item)">
                <div class="root-icon-descr">
                    {{ item.name }}
                </div>
            </div>
        </a>
    </router-link>
</div>

_.find(self.ctgs, {code:'482020'}).activeTime = '1';

<tr class="top-row">
    <td :colspan="ctg_bottom_count">
        <template v-if="main && main.length > 0">
            <div class="img-wrapper" v-for="item in mainView">
                <router-link :to="item.route">
                    <a>
                        <div class="root-icon-image-bottom">
                            <img :src="getImageSrcBig(item)">
                            <div class="root-icon-descr">
                                {{ item.name }}
                            </div>
                        </div>
                    </a>
                </router-link>
            </div>
        </template>
    </td>
</tr>