body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0;
    color: #cecece;
    -webkit-font-smoothing: antialiased;
    background: #1d1e21 url('http://10.10.250.91/img/background.jpg');
    overflow: hidden;
    user-select: none;
}

.main-app{
    width: 110px;
    height: 110px;
}

.tabletNumber{
    width: 63px;
    height: 63px;
    display: block;
    background-color: #555;
    color: #FFF;
    z-index: 99999;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 63px;
    font-size: xx-large;
}

.language{
    width: 63px;
    height: 63px;
    display: block;
    background-color: #555;
    color: #FFF;
    z-index: 99999;
    position: fixed;
    left: 0;
    text-align: center;
    line-height: 63px;
    font-size: xx-large;
    cursor: pointer;
    text-transform: uppercase;
}

.header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 9999;
}

.content{
    /*padding-top:50px;*/
    z-index: 1000;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
}

.pages-nav {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background: #0e0f0f;
}

.pages-nav__item {
    width: 16%;
    padding: 1em 1em 0 1em;
}

.pages-nav__item {
    width: 16%;
    padding: 1em 1em 0 1em;
}

.link-page {
    display: block;
    color: #cecece;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    font-size: 0.85em;
    font-weight: bold;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.router-link-active {
    color: #FFFFFF;
    background-color: #555555;
}

.menu__link--current {
    color: #FFFFFF;
    background-color: #555555;
}

.menu__link--current.sidebar {
    color: #FFFFFF;
    background-color: #e2e2e2;
}

.link-page:not(.link-faded)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin: 5px 0 0 -15px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

body {
    background: #1d1e21 url('http://10.10.182.11/img/background.jpg');
}

.inner-item-container{
    background-image: url("http://10.10.182.11/img/background.jpg");
}

.product-top-block-price{
    background-image: url("http://10.10.182.11/img/price.png");
}
.product-top-block-price2 {
    background-image: url('http://10.10.182.11/img/price.png');
}


*:after, *:before {
    box-sizing: border-box;
}