body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0;
    color: #cecece;
    background: #1d1e21;
    -webkit-font-smoothing: antialiased;
    background: url('../images/background.jpg');
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
}

.pages-nav {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 0 5px;
    text-align: center;
    background: #0e0f0f;
}

.pages-nav__item {
     width: 21%;
     padding: 1em 1em 0 1em;
 }

.pages-nav__item {
    width: 21%;
    padding: 1em 1em 0 1em;
}

.link-page {
    display: block;
    color: #cecece;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    font-size: 0.85em;
    font-weight: bold;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}


.router-link-active{
    color: #FFFFFF;
    background-color: #555555;
}

.menu__link--current{
    color: #FFFFFF;
    background-color: #555555;
}

.menu__link--current.sidebar{
    color: #FFFFFF;
    background-color: #e2e2e2;
}

.link-page:not(.link-faded)::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin: 5px 0 0 -15px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}
*:after, *:before {
    box-sizing: border-box;
}